/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}

/* Contenedor principal */
.contenedor {
    width: 100%;
    max-width: 400px; /* Controla el tamaño máximo en pantallas grandes */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Lista de tareas */
.lista-tareas {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

/* Input de tarea */
#nueva-tarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

/* Botones */
button {
    width: 48%; /* Ambos botones ocupan el 48% para tener espacio entre ellos */
    padding: 10px;
    margin-bottom: 10px;
    background-color: #5e0d7e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    #nueva-tarea {
        width: 100%; /* El input ocupa el 100% del ancho en pantallas pequeñas */
    }

    button {
        width: 100%; /* Los botones también ocupan todo el ancho */
        margin-bottom: 5px; /* Espacio reducido entre botones */
    }
}


